@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'nothing';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url(/Users/roger/webDev/nodes/todolist/frontend/src/fonts/nothing-font-5x7.woff2) format('woff2');
    }
  }